.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    border: 3px solid red;
    background-color: #f6f8f9;
    position: relative;
    top: 0;
    left: 0;


}

/* საერთოა ორივე გვერდისთვის */
header {

    max-width: inherit;
    width: inherit;
    padding: 19px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid blue;
    background-color: #f6f8f9;
    position: fixed;
    top: 0;
    z-index: 5;

}

.logo {
    animation: move 3s infinite;

}

@keyframes move {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }
}

.navi_ul {
    display: flex;
    gap: 30px;
}

.navi_li a {
    font-size: 11px;
    font-weight: bold;
    color: #97999c;
}

.navi_li :hover {
    border-bottom: 3px solid red;
}

.navi_li .active {
    color: black;
}

.section1 {
    width: 100%;
    height: 599px;
    border: 5px solid blue;
    display: flex;
    margin-bottom: 30px;
}




.text {
    width: 65%;
    height: 100%;
    background-image: url(../images/main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 176px 110px 176px 146px;
    color: white;
    border: 3px solid red;

}

.left{
    border: 3px solid red;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 41px;
   
}
.line{
    border-bottom: 1px solid #f6f8f9;
}
h3 {

    padding-top: 45px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.text_p {
    width: 521px;
    font-size: 16px;
    margin-bottom: 20px;

}

.textbut {
    width: 134px;
    height: 40px;
    background-color: #fa6980;
    border: none;
    border-radius: 10%; 
    text-shadow: none;
    box-shadow:inset;
   
  
}


.textbut :hover {

   text-shadow: 5px 10px blue;
   box-shadow:15px 20px 50px 30px  rebeccapurple;

   
 
}

.textbut_txt{
    font-size: 11px; 
    font-weight: bold;
    color: white;
    text-align: center;

   
}

 .text_text {
    width: 35%;
    height: 100%;
    padding-left: 30px;
    padding-top: 31px;
    padding-bottom: 39px;
    border: 8px solid  green;
    display: flex;
    flex-direction: column;

} 
.div{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 39px; 
    border: 3px solid red;
    display: flex;
    flex-direction: column;
} 


.text2 {
    width: 421px;

    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 39px;
    border: 3px solid blue;
}

h1 {
    width: 345px;
    font-size: 24px;
    color: black;
    font-weight: bold;
    padding-top:5px;
    padding-bottom: 19px;
    padding-left:5px;


   
    /* border: 3px solid red; */
}
.line1{
  border-bottom: 1px solid #66696a;
 
}
.text3 {
    padding-bottom: 39px;
    padding-left: 10px;
    border: 3px solid blue;
    margin-bottom: 10px;
}

.text4 {
    padding-bottom: 39px;
    padding-left: 10px;
    border: 3px solid blue;
}

.heading1 {
    padding-left: 5px;
    padding-right: 168px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    color: #fa6980;

}

.heading2 {
    color: black;
    font-weight: bold;

}

.heading_p {
    width: 351px;
    
}

.fa-clock {
    font-size: 16px;
}

.section2 {
    width: 80%;
    margin-left: 140px;
    margin-bottom: 40px;
    border: 3px solid blueviolet;

}

.section2_h3 {
    /* width: 100%; */
    /* height: 1000px; */
    font-size: 24px;
    margin-bottom: 40px;
    border: 3px solid rgb(13, 255, 0);

}

.cards {
    width: 100%;
    height: 410px;
    border: 3px solid gray;
    display: flex;
    justify-content: space-between;
    gap: 35px;

}

.card {
    width: 30%;
    border: 3px solid gray;
    text-align: left;
    background-color: white;

}

.cardimg {
    width: 100%;
    height: 60%;
    padding-bottom: 50px;
  
    }
    .cardimg:hover{
       
        filter: grayscale(100%);
        
    }

.card_h5 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 40px;
    padding-bottom: 9px;
}

.card_p {
    width: 281px;
    font-size: 13px;
    color: #a6adb4;
    padding-left: 40px;
    padding-bottom: 66px;
}

.section3 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 3px solid green;

}


.section3_h4 {

    font-size: 24px;
    font-weight: bold;
    border: 3px solid green;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.main {
    padding-top: 40px;
    padding-top: 0;
    display: flex;

    border: 3px solid rgb(221, 170, 69);
}


.leftimg {
    width: 60%;
    /* flex-direction: column; */

    position: relative;
    padding-bottom: 40px;
}

.leftimg_photo1 {
    width: 760px;
    height: 430px;
    position: relative;

}

.leftimg_h5 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 40px;
    ;
    left: 40px;
    z-index: 5;
}

.leftimg_h4 {
    width: 760px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 288px;
    ;
    left: 40px;
    z-index: 5;


}

.leftimg_p {
    width: 681px;
    font-size: 16px;
    color: white;
    padding-top: 10px;
    position: absolute;
    top: 310px;
    ;
    left: 40px;
    z-index: 5;

}

.leftimg_photo2 {
    width: 760px;
    height: 430px;
}

.leftimg2 {
    position: relative;
}

.right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding-left: 20px;



}

.rigthph {
    width: 345px;
    height: 274px;
    border: 3px solid red;
    display: inline-block
}

.rigth_img {
    width: 100%;
    height: 90%;
    padding-bottom: 75px;
}

.right_h5 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;


}

/* საერთოა ორივე გვერდისთვის */
footer {
    width: 100%;
    margin-top: 100px;
    padding: 58px 132px 63px 145px;
    background-color: rgb(113, 112, 112);
    color: white;
    font-size: 13px;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot2 {
    display: flex;
    gap: 30px;
    padding-right: 320px;
}

.foot3 {
    display: flex;
    gap: 20px;
    color: white;
}

.fa-instagram {
    color: white;

}

.fa-twitter {
    color: white;
}

.fa-facebook {
    color: white;
}

.fa-earth-americas {
    color: white;
}

/* მეორე გვერდი contact დაიწყო */

.cont_sect {
    width: 85%;
    height: 500px;
    /* margin-top: 103px; */
    margin: 103px auto;

    border: 3px solid yellowgreen;
    display: flex;


}

.cont_sect_left {
    width: 53%;
    height: 500px;
    border: 3px solid yellowgreen;
    position: relative;
}

.cont_sect_left_img {
    width: 100%;
    height: 100%;
    /* position: relative; */

}

.cont_cect_h4 {
    font-size: 24px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 250px;
    left: 300px;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.cont_sect_right {
    width: 47%;
    border: 3px solid red;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

form {
    width: 70%;
    height: 85%;
    margin: 20px auto;
    padding: 124px 100px 126px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid red;

}


.date_label,
.passw {
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

}

.date_inp,
.key_inp {
    width: 331px;
    height: 30px;
    color: transparent;
    margin-bottom: 40px;

}

.submit {
    width: 134px;
    height: 40px;
    background-color: #fa6980;
    color: white;

}

.submit:hover {
    width: 268px;
    height: 80px;
    color: blue;
    background-color: #a6adb4;


}

.conact_article {
    width: 85%;
    height: 255px;
    margin: 0 auto;
    padding: 42px 0 45px 0;
    border: 1px solid #a6adb4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 39px;



}

.avatar {
    width: 50px;
    height: 50px;


}

.article_header_h4 {
    width: 361px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 5;
    padding-top: 45px;
}

.art_part {
    width: 341px;
    padding-top: 42px;
}

.art_p1 {
    font-size: 14px;
    height: 172px;
    color: #a6adb4;

}

.art_p2 {
    height: 128px;
    font-size: 14px;
    color: #a6adb4;
}

.conact_article2 {
    width: 85%;
    height: 831px;
    border: 1px solid red;
    margin: 20px auto;
    border-bottom: 1px solid #a6adb4
}

.art_img {
    width: 100%;
    height: 500px;
    padding-bottom: 40px;
}

.conact_article2_p {
    width: 100%;
    height: 205px;
    border: 1px solid blue
}

.art2_p {

    padding-bottom: 50px;
    color: #a6adb4;
    
}

